body {
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 2000px;
}

h1 {
  justify-content: center;
  margin-left: 35%;
}

.choose {
  justify-content: center;
  margin-left: 30px;
}
.show {
  justify-content: center;
  animation-timing-function: steps(5, end);
  display: grid;
  grid-gap: 80px 30px;
  /* grid-template-columns: auto auto auto auto; */
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: 60px;
  padding: 150px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.container:hover .card-flipped {
  transform: rotateY(180deg);
}

.card-flipped {
  transform-style: preserve-3d;
  transition: all 1s ease;
  transform: rotateY(180deg);
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin-left: calc(100vh - 85vh - 100px);
}

.front {
  position: absolute;
  backface-visibility: hidden;
}

.back {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.line {
  width: 40%;
  border-bottom: 1px solid #0d0e0f;
  opacity: 0.6;
}

.links {
  display: flex;
}

.reading-type {
  margin-bottom: 50px;
  margin-left: 50px;
  color: #0d0e0f;
}

.one-card img {
  justify-content: center;
  margin-left: 200px;
}
button {
  margin-bottom: 30px;
  width: 60px;
  height: 40px;
}
p {
  width: 400px;
}

.four-cards {
  display: flex;
  justify-content: center;
}

.description {
  color: white;
  display: flex;
  margin: 20px;
}
.description img {
  margin: 20px;
}
